// SPDX-License-Identifier: GPL-2.0
/*
 * Device tree file for Synology DS112-v10j
 * Copyright (C) 2025-2026, Tony Dinh  <mibodhi@gmail.com>
 *
 */

/dts-v1/;

#include "kirkwood.dtsi"
#include "kirkwood-6282.dtsi"
#include "kirkwood-synology.dtsi"

/ {
	model = "Synology DS112 V10j";
	compatible = "synology,ds112", "marvell,kirkwood";

	memory {
		device_type = "memory";
		reg = <0x00000000 0x8000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200n8";
		stdout-path = &uart0;
	};

	regulators-hdd-30-2 {
		status = "okay";
	};

	gpio-fan-15-16-17 {
		status = "okay";
		compatible = "gpio-fan";
		pinctrl-0 = <&pmx_fanctrl_15 &pmx_fanctrl_16 &pmx_fanctrl_17>;
		pinctrl-names = "default";
		gpios = <&gpio0 15 GPIO_ACTIVE_HIGH
			 &gpio0 16 GPIO_ACTIVE_HIGH
			 &gpio0 17 GPIO_ACTIVE_HIGH>;
		gpio-fan,speed-map =
				<   0 0>,
				<2500 1>,
				<3100 2>,
				<3800 3>,
				<4600 4>,
				<4800 5>,
				<4900 6>,
				<5000 7>;
	};
};

&mdio {
	status = "okay";

	ethphy1: ethernet-phy@1 {
		device_type = "ethernet-phy";
		reg = <1>;
	};
};

&eth0 {
	status = "okay";

	ethernet0-port@0 {
		phy-handle = <&ethphy1>;
	};
};

/* U-Boot uses s35392a which also works for s35390a */
&s35390a {
	status = "okay";
	compatible = "sii,s35392a";
	reg = <0x30>;
};

&pciec {
	status = "okay";
};

&pcie1 {
	status = "okay";
};

&spi0 {
	flash@0 {
		spi-max-frequency = <50000000>;
	};
};
